@{
    ViewBag.Title = "Home Page";
}


    <div style="margin:10px">

        <img style="width:83em" src="https://i.ytimg.com/vi/iI2D4LbV6Os/maxresdefault.jpg" />

        <h1 style="font-size:80px;color:white;position:absolute;top:570px;left:900px">Welcome!</h1>

    </div>

    <div class="container" style="padding:40px;text-align:center">

        <div class="row" style="border-bottom:solid;padding:30px">
            <div class="col-md-6">
                <h3>We make our watches with passion.</h3>
                <br />
                <p>We don't ship our watches until they are perfect.</p>
                <p>We take care into what we do, so that you get exactly what you want.</p>
            </div>
            <div class="col-md-6">
                <img style="width:270px;height:280px;border-radius:25px" src="~/assets/Images/watchCraftsman.jpg" />
            </div>
        </div>

        <br />

        <div class="row" style="border-bottom:solid;padding:30px">
            <div class="col-md-6">
                <img style="width:450px;height:260px;border-radius:25px" src="~/assets/Images/luxuryWatch.jpg" />
            </div>
            <div class="col-md-6">
                <h3>Luxury is our Goal.</h3>
                <br />
                <p>We craft our watches to match other well known Watch Companies.</p>
            </div>
        </div>

        <br />

        <a class="btn btn-danger" href="@Url.Action("Index", "Items")">Take me to the Inventory</a>
        
    </div>
  
